@charset "UTF-8";

html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

  .header-nav {
    display: block;
    padding: 75px 0 20px;
    border-bottom: 1px solid #ebeaea; }

.header-logo {
      display: inline-block;
      font-family: "Cormorant Garamond", Courier, serif;
      font-size: 36px;
      font-weight: 700;
      color: #000;
    text-decoration: none; }

.header-links {
      float: right;
      padding: 0;
      margin: 15px 0 0;
      list-style: none; }
      .header-links li {
        display: inline-block;
        margin-left: 20px;
        vertical-align: middle; }
        .header-links li:first-child {
          margin-left: 0; }
        .header-links li a {
          font-size: 17px;
          color: #393636; }
          .header-links li a:hover {
    color: #121111; }


  @media all and (max-width: 815px) {
    .header-nav {
      text-align: center; }

    .header-links {
      display: block;
      float: none;
      text-align: center; }
      .header-links li {
        margin: 0 10px; }
        .header-links li:last-child {
          margin-right: 0; } }

.grid-cell {
  display: inline-block;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  font-size: 16px;
  text-align: left;
  vertical-align: top; }
  .grid-cell.with-1col {
    width: 8.33333%; }
  .grid-cell.with-2col {
    width: 16.66667%; }
  .grid-cell.with-3col {
    width: 25%; }
  .grid-cell.with-4col {
    width: 33.33333%; }
  .grid-cell.with-5col {
    width: 41.66667%; }
  .grid-cell.with-6col {
    width: 50%; }
  .grid-cell.with-7col {
    width: 58.33333%; }
  .grid-cell.with-8col {
    width: 66.66667%; }
  .grid-cell.with-9col {
    width: 75%; }
  .grid-cell.with-10col {
    width: 83.33333%; }
  .grid-cell.with-11col {
    width: 91.66667%; }
  .grid-cell.with-1off {
    margin-left: 8.33333%; }
  .grid-cell.with-2off {
    margin-left: 16.66667%; }
  .grid-cell.with-3off {
    margin-left: 25%; }
  .grid-cell.with-4off {
    margin-left: 33.33333%; }
  .grid-cell.with-5off {
    margin-left: 41.66667%; }
  .grid-cell.with-6off {
    margin-left: 50%; }
  .grid-cell.with-7off {
    margin-left: 58.33333%; }
  .grid-cell.with-8off {
    margin-left: 66.66667%; }
  .grid-cell.with-9off {
    margin-left: 75%; }
  .grid-cell.with-10off {
    margin-left: 83.33333%; }
  .grid-cell.with-11off {
    margin-left: 91.66667%; }
  .grid-cell.is-centered {
    text-align: center; }
  .grid-cell.is-right {
    text-align: right; }
  .grid-cell.is-top {
    vertical-align: top; }
  .grid-cell.is-middle {
    vertical-align: middle; }
  .grid-cell.is-bottom {
vertical-align: bottom; }
.grid-centered {
  max-width: 1050px;
  margin-right: auto;
margin-left: auto; }

@font-face {
  font-family: ionicons;
  src: url("/assets/ionicons/ionicons.eot?#iefix") format("embedded-opentype"), url("/assets/ionicons/ionicons.woff") format("woff"), url("/assets/ionicons/ionicons.ttf") format("truetype"); }
 
.icon {
  display: inline-block;
  width: 1.1em;
  font-family: ionicons;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  text-align: center; }

.icon-flickr:before {
  content: ""; }

.icon-about:before {
  content: ""; }

.icon-email:before {
  content: ""; }

.icon-arrow-left:before {
  content: ""; }

.icon-arrow-right:before {
  content: ""; }

.icon-bitcoin:before {
  content: ""; }

.icon-dribbble:before {
  content: ""; }

.icon-facebook:before {
  content: ""; }

.icon-github:before {
  content: ""; }

.icon-linkedin:before {
  content: ""; }

.icon-rss:before {
  content: ""; }

.icon-twitter:before {
  content: ""; }

.appear {
  visibility: hidden;
  opacity: 0; }

.appeared {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
transition: opacity 0.5s ease-in-out; }
